<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ g.nav['landing_page'].route }}">Anonymous</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">

            <div class="navbar-nav">
                <a class="nav-link text-white" href="{{ g.nav['index'].route }}">{{ g.nav['index'].label }}</a>
            </div>

            <div class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-white" href="#" role="button"
                   data-bs-toggle="dropdown" aria-expanded="false">
                    Studies
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                {% for _, nav in g.nav["book_shelf"].items() %}
                    <li><a class="dropdown-item" href="{{ nav.route }}">{{ nav.label }}</a></li>
                {% endfor %}
                </ul>
            </div>

            <div class="navbar-nav justify-content-end">
                <a class="nav-link text-white" href="#">About</a>
            </div>

            <div class="navbar-nav justify-content-end">
                <a class="nav-link text-white" href="#">Contact</a>
            </div>

            <div class="navbar-nav justify-content-end">
                <a class="nav-link text-white" href="#">Log Out</a>
            </div>

            <div class="navbar-nav justify-content-end">
                <a class="nav-link text-white" href="#">Register</a>
            </div>

            <div class="navbar-nav justify-content-end">
                <a class="nav-link text-white" href="#">Log In</a>
            </div>
        </div>

    </div>
</nav>

<nav>
