<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Hello World!</h1>

<form id="new_document_attachment" method="post">
    {{ csrf_token }}
  <div class="actions"><input type="submit" name="commit" value="Submit" /></div>
  <input type="file" name="file" id="document_attachment_doc" />
</form>

 <script type="text/javascript">
const form = document.getElementById("new_document_attachment");
const fileInput = document.getElementById("document_attachment_doc");

fileInput.addEventListener('change', () => {
  form.submit();
});

window.addEventListener('paste', e => {
  fileInput.files = e.clipboardData.files;
});
 </script>
</body>
</html>